.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffdde1, #ee9ca7);
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  color: #999;
  margin-bottom: 2rem;
  text-align: center;
}

.cardForm {
  background: rgba(255,255,255,0.9);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 500px;
}

.input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
  font-size: 1rem;
  color: #858181;
  
}

.button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ff6b81;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #ff4b61;
}

.input::placeholder {
  color: #999;
  opacity: 1; /* important for Firefox */
}

.a{
  color: #999;
}